<!-- C\Code\mysite\elections\templates\elections\index.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>연습</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/exec.js' %}"> </script>

</head>

<body>

  <button onclick="execut()">Hover me</button>

</body>